{% extends 'TicketBundle::base.html.twig' %}

{% block body %}
    <h2>Bedankt!</h2>

    <p>Hartelijk dank voor uw bestelling!</p>

    <p><a href="{{ path('event_overview') }}" class="btn btn-primary"><i class="icon-chevron-left icon-white"></i> Terug naar evenementen</a></p>
{% endblock %}